<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Create User</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <title>StockApp</title>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.7/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"
          rel="stylesheet" media="screen" />

    <script src="http://cdn.jsdelivr.net/webjars/jquery/3.2.1/jquery.min.js"
            th:src="@{/webjars/jquery/3.2.1/jquery.min.js}"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">MyStock</a>
        </div>

        <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/user/login">Login</a></li>
                <li><a href="/user/add">Sign Up</a></li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">

    <header class="jumbotron">
        <div class="container">
            <h1>Welcome To MyStock!</h1>
            <p>View your specific personal stock information very easily</p>
            <p>
                <a class="btn btn-primary btn-lg" href="/new">Add new Stock</a>
            </p>
        </div>
    </header>

</div>
<div class="container">
<form action="#" th:action="@{/user/add}" th:object="${userStockPersistence}" method="post">
    <div class="form-group">
        <label for="exampleInputEmail1">User Name</label>
        <input type="email" th:field="*{userName}" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Username"/>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Password</label>
        <input type="password" th:field="*{password}" class="form-control" id="exampleInputPassword1" placeholder="Password"/>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Submit</button><button type="submit" class="btn btn-primary">Reset</button>
    </div>
</form>
</div>
</body>
</html>